<a-scene>
		<a-assets>
			<img id="centerPic" src="img/dumbo.jpg">
			<img id="geoRainbow" src="img/rainbow.png">
			<img id="chart" src="img/mt1.png"> 
		</a-assets>

          <a-curvedimage src="#chart" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

          <a-curvedimage src="#chart" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

          <a-curvedimage src="#chart" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

          <a-curvedimage src="#chart" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

        <a-sky src="#geoRainbow"></a-sky>

</a-scene>