<a-scene>
		<a-assets>
			<img id="centerPic" src="img/dumbo.jpg">
			<img id="geoRainbow" src="img/rainbow.png">
			<img id="chart0" src="img/mt1.png">
			<img id="chart1" src="img/mt2.png"> 
			<img id="chart2" src="img/mt3.png"> 
			<img id="chart3" src="img/mt4.png"> 
			<img id="chart4" src="img/mt5.png">  
		</a-assets>

          <a-curvedimage src="#chart0" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

          <a-curvedimage src="#chart1" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

          <a-curvedimage src="#chart2" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

          <a-curvedimage src="#chart3" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

          <a-curvedimage src="#chart4" height="<%= height() %>" radius="<%= radius() %>" theta-length="<%= theta() %>" rotation="0 <%= rotation() %> 0"></a-curvedimage>

        <a-sky src="#geoRainbow"></a-sky>

</a-scene>